@{
    ViewBag.Title = "About Us";
}
<h3><b>@ViewBag.Title</b></h3>
<br />
<br />
<div>
    <body style=" background-image: url('../../Photos/about2.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;">

        <p>
            Kisan Mitra is a software platform which updates the market information for Farmers and Merchants . <br />
            <br />This application will create interconnection  between Farmers and Merchants according to their<br /><br /> regional informations.
            <br />
            <br />We implemented the effective representation of updated crop prices with prediction  of future prices <br /><br /> which will help to boost up the economical progress of farmers.
        </p>
</body>
</div>