@{
    ViewBag.Title = "Contact Us";
}
<h3><b>@ViewBag.Title</b></h3>

<div>
    <body style=" background-image: url('../../Photos/contact.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;">


        <address>
            <br />
            <br />
            <b>
                Kisan Mitra Solutions<br />
                Anna Nagar Extentions<br />
                Infopark,Cochin<br />
                Kerala <br />
                Pin:686513<br />
                <abbr title="Phone">Mobile 1:</abbr>
                +91-9876543210 <br />
                <abbr title="Phone">Mobile 2:</abbr>
                +91-8967452301
            </b>
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@kisanmitraaa.com">Support@kisanmitraaa.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@kisanmitraaa.com">Marketing@kisanmitraaa.com</a>
        </address>

      
    </body>
</div>