
<!DOCTYPE HTML>

<html>
<head>


    <style>
        .container {
            padding: 10px;
        }
    </style>
    <h2>Crop Details</h2>
</head>

<body>
    <div class="container">
        <embed src="~/files/KISAN MITHRA CROP DETAILS.pdf" type="application/pdf" width="100%" height="600px" />
    </div>
</body>
</html>

